.gitignore
*.swp
__pycache__
.pytest_cache
.venv
*.egg-info
.DS_Store
*.bak

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Node deps (for anybody installing CDK CLI locally):
node_modules/
